@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
input{
    background-color: #71b7e6;
    border-style: none;
    width: 100px;
    color: rgb(7, 7, 7);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    background-color: white;
    border-radius: 8px;
    margin-top: 60px;
    height: 300px;
}

h1{
    color: linear-gradient(135deg, #71b7e6, #9b59b6);
}
